# Database
DATABASE_URL=mysql+pymysql://username:password@localhost/quiz_db

# Firebase
FIREBASE_CREDENTIALS_PATH=serviceAccountKey.json

# OpenAI API (pour la génération de questions par IA)
OPENAI_API_KEY=sk-your-openai-api-key-here
